.opendmo ul {

    list-style-type: none;
    margin-left: 0;

}

#opendmo_postmeta_googlemap {
    
    padding-bottom: 1em;
    
}

@media print {

    #opendmo_postmeta_gps,
    #opendmo_postmeta_links,
    div[id^='opendmo_cpt_'] {

        display: none;

    }

}
